doctype html
html
  head
    title= "CBD"
    link(rel='stylesheet', href='/dist/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    //- block header

    .content
      block content
        p ovde ce biti content